:root {
  --light-white: #ffffff;
  --dark-white: #ecf0f1;
  --light-black: #34495e;
  --dark-black: #2c3e50;
  --light-blue: #3498db;
  --dark-blue: #2980b9;
  --light-purple: #9b59b6;
  --dark-purple: #8e44ad;
  --light-green: #1abc9c;
  --dark-green: #16a085;
}
