@import url('./section_phone.css');

section.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banner__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-image: url("../img/capa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  max-height: 700px;
  min-height: 500px;
  position: relative;
}

.logo {
  background-color: var(--dark-green);
  border-radius: 5px;
  transition: all .1s ease;
  height: 60px;
  width: 60px;
}

.logo a img {
  width: 60px;
}

header.header__banner {
  width: 90%;
  text-align: right;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.header__banner nav.nav__header_banner {
  padding: 10px 0;
  margin-right: 10px;
}

.nav__header_banner a {
  margin: 0 10px;
  font-weight: 300;
  color: lightgray;
  text-decoration: none;
  position: relative;
}

.nav__header_banner a.active {
  color: var(--dark-white);
  font-weight: 700;
}

.nav__header_banner a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.2s ease;
}

.nav__header_banner a.active:hover {
  color: var(--dark-green);
}

.nav__header_banner a.active:hover::before {
  background-color: var(--dark-green);
}

.nav__header_banner a:hover {
  color: var(--light-blue);
}

.nav__header_banner a:hover::before {
  background-color: var(--light-blue);
}

.text__banner {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.text__banner .title {
  font-weight: 300;
  font-size: 35px;
  color: var(--light-white);
}

.text__banner .description {
  font-size: 14px;
  margin-top: 20px;
  color: var(--dark-white);
  text-shadow: 1px 0px 4px black;
}

.nav__header_banner,
.header__banner,
.text__banner {
  transition: all 0.2s linear;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #222f3e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(165, 173, 175, 0.705);
}

footer .credits {
  width: 90%;
  height: 80%;
}

footer .credits .title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

footer .credits .title h1 {
  font-size: 25px;
}

footer .credits ul {
  list-style: none;
  list-style-position: inside;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  main.container__main {
    border: none !important;
  }
}

@media screen and (max-width: 850px) {
  main.container__main {
    border: none !important;
  }
  .text__banner {
    top: 40%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {

  .nav__header_banner {
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .header__banner {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .text__banner {
    width: 100%;
    padding: 0 10px;
  }

  .text__banner .title {
    text-align: center;
  }

  .text__banner .description {
    text-align: justify;
  }
}

@media screen and (max-width: 355px) {
  .logo {
    display: none;
  }
  .nav__header_banner {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

@media screen and (max-width: 310px) {
  .nav__header_banner {
    display: flex;
    flex-direction: column;
  }

  .nav__header_banner a:not(:first-child) {
    margin-top: 8px;
  }
}

@media screen and (max-width: 280px) {
  .nav__header_banner {
    width: 100% !important;
  }

  .logo {
    width: 80%;
    text-align: center;
  }
}
