@import url("./section_phone.css");

section.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../img/capa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  max-height: 700px;
  min-height: 500px;
  position: relative;
}

header.header__banner {
  width: 100%;
  text-align: right;
  position: absolute;
  z-index: 10;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  background-color: rgba(78, 109, 167, 0.5);
}

header.header__banner nav.nav__header_banner {
  padding: 10px 0;
  margin-right: 10px;
}

.nav__header_banner a {
  margin: 0 10px;
  font-weight: 300;
  color: white;
  text-decoration: none;
  position: relative;
}

.nav__header_banner a.active {
  color: var(--dark-white);
  font-weight: 700;
}

.menu_ {
  display: none;
}

.menu_,
.menu_ i {
  transition: all 0.2s linear;
}

.nav__header_banner a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.2s ease;
}

.nav__header_banner a.active:hover {
  color: var(--light-blue);
}

.nav__header_banner a.active:hover::before {
  background-color:var(--light-blue);
}

.nav__header_banner a:hover {
  color: var(--light-blue);
}

.nav__header_banner a:hover::before {
  background-color: var(--light-blue);
}

.text__banner {
  width: 100%;
  max-width: 700px;
  position: absolute;
}

.text__banner .title {
  font-weight: 300;
  font-size: 35px;
  color: var(--light-white);
}

.text__banner .description {
  font-size: 14px;
  margin-top: 20px;
  color: var(--dark-white);
  text-shadow: 1px 0px 4px black;
}

.nav__header_banner,
.header__banner,
.text__banner {
  transition: all 0.2s linear;
}

@media screen and (max-width: 1200px) {
  main.container__main {
    border: none !important;
  }
}

@media screen and (max-width: 850px) {
  main.container__main {
    border: none !important;
  }
}

@media screen and (max-width: 730px) {
  .text__banner {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .text__banner {
    text-align: center;
  }

  .text__banner .description {
    width: 90%;
    text-align: justify;
    margin: 20px auto auto;
  }
}

@media screen and (max-width: 360px) {
  .menu_ {
    display: inline-block !important;
    cursor: pointer;
  }

  .menu_ i {
    font-size: 40px;
    color: white !important;
  }

  .header__banner {
    background-color: transparent !important;
    padding-right: 20px;
    justify-content: space-between;
  }

  .nav__header_banner {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh !important;
    background-color: var(--light-blue);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid white;
  }

  .nav__header_banner a,
  .nav__header_banner a.active {
    margin: 10px auto;
    width: 90%;
    border-radius: 4px;
    font-weight: normal;
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 5px 0;
  }

  .nav__header_banner a:hover {
    background-color: rgb(51, 54, 92);
    color: white;
  }

  .nav__header_banner a.active::before,
  .nav__header_banner a::before {
    display: none;
  }
}
