@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Ubuntu, Arial, sans-serif;
}

*::selection {
	background-color: #8c7ae6;
	color: white;
}

html,
body {
  height: 100%;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}
