:root {
  --max-width-short1: calc((18rem * 3) + (20px * 3));
  --max-width-short2: calc((18rem * 3) + (20px * 4));

  --white-smoke: #f2f3f5;
  --red: #eb2d2d;
  --balck: #1a1a1d;

  --soft-red: #fa8484;
  --soft-black: #242424;
  --soft-gray: #727272;

  --dark-gray: #4b4b4b;
  --dark-red: #be2525;
}

.header {
  width: 100%;
  display: flex;
  background: white;
  justify-content: space-between;
  padding: 0 2.5rem;
  height: 85px;
  align-items: center;
  position: relative;
  z-index: 10;
}

.logo {
  width: fit-content;
  z-index: 10;
  background: white;
  width: 12rem;
}

.logo img {
  width: 70%;
}

.link_header {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1.5rem;
  font-style: oblique;
}

.menu_mobile {
  font-size: 2rem;
  position: absolute;
  right: -100%;
  cursor: pointer;
  height: fit-content;
  transition: 200ms;
  z-index: 20;
}

nav#menu_view.show {
  height: calc(100vh - 85px);
  overflow: auto;
}

.link_header {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 800px) {
  .links_header:not(#footer_links) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    position: fixed;
    top: 85px;
    left: 0;
    background: white;
    transition: all 200ms linear;
    height: 0;
    overflow: hidden;
  }
  .link_header {
    margin-left: 0;
    margin-top: 1.5rem;
    width: 90%;
    text-align: center;
    padding: 0.5rem 0;
  }
  .link_header:last-child {
    margin-bottom: 1.5rem;
  }
  .link_header:hover {
    background: var(--white-smoke);
  }
  .menu_mobile {
    right: 2.5rem;
  }
}

main.body {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

section.banner {
  max-width: 100vw;
  background: #010101;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 60vh;
  min-height: 500px;
  position: relative;
}

section.banner img.topics {
  position: absolute;
  left: 1.2rem;
  top: 40%;
  transform: translateY(-50%);
  width: min(50%, 400px);
  height: auto;
}

section.banner img {
  width: 37.5rem;
}

@media screen and (max-width: 650px) {
  section.banner img {
    width: 70%;
  }
  section.banner {
    min-height: 350px;
  }
  section.banner img.topics {
    width: min(50%, 400px);
  }
}

.trending {
  padding-top: 2.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_box {
  width: 100%;
  max-width: var(--max-width-short1);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.title_box h1 {
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
}

.title_box span {
  height: 2px;
  border-radius: 1px;
  background: gray;
  flex: 1;
}

.cards_section {
  width: 100%;
  max-width: var(--max-width-short2);
  display: flex;
  margin: 2rem 0 auto;
  padding: 0 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18rem;
  margin: 0.5rem;
  background: white;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 0.65rem;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}

.card .image {
  width: 100%;
}

.card .content {
  padding: 5px;
}

.card .title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.card .description {
  font-weight: 500;
  color: var(--soft-gray);
}

.card .age {
  font-weight: 600;
  color: var(--dark-gray);
}

.more {
  background: var(--red);
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 2px 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border: 2px outset var(--red);
  border-top-color: var(--soft-red);
  cursor: pointer;
  font-style: oblique;
}

.more:hover {
  background: var(--dark-red);
}

.depoiments {
  padding: 5rem 0;
  width: 100%;
  max-width: var(--max-width-short1);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.depoiments .content {
  width: 100%;
  max-width: 930px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.depoiments .content .left,
.depoiments .content .right {
  flex: 1;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.depoiments .content .left {
  background: var(--soft-black);
}

.depoiments .content .left .container {
  text-align: left;
}

.container .title {
  font-size: 2rem;
  font-weight: normal;
  font-style: oblique;
  width: 100%;
}

.container .list {
  list-style-position: inside;
  margin-top: 1rem;
  margin-right: 10px;
}

.container .list li {
  font-family: Arial;
  font-style: oblique;
}

.depoiments .content .right {
  background: var(--red);
}

.right .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
  overflow: hidden;
}

.container .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.container .more {
  margin-top: 20px;
}

.right .container .title {
  margin-bottom: 1.5rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  transition: 200ms;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  transition: 200ms;
}

.text_slider span:nth-of-type(1) {
  padding-right: 5px;
}

.text_slider span:nth-of-type(2) {
  padding-left: 5px;
}

.right .buttons {
  display: flex;
}

.right .buttons .button {
  margin-right: 1rem;
  width: fit-content;
  height: 1rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: var(--dark-red);
}

.right .buttons .button:hover {
  color: var(--soft-black);
}

.to_left {
  margin-left: -120%;
}

.to_right {
  margin-left: 220%;
}

.hide_name {
  opacity: 0;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5rem auto;
}
.form_box,
.form_box form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_box {
  margin-bottom: 10px;
}

.input_box input:focus,
#text_area:focus {
  border-color: gray;
}

.input_box:not(.row) {
  min-width: 100%;
}

.input_box.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input_box.row input {
  width: calc(50% - 2px);
}

.input_box input, textarea {
  border: 2px solid #e8e4e4;
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
  background: transparent;
  color: rgb(51,51,51);
}

.input_box input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: gray;
}

.input_box input::-moz-placeholder,
textarea::-moz-placeholder{
  color: gray;
}

#text_area {
  resize: none;
}

footer {
  width: 100%;
  height: 70px;
  background: var(--soft-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  color: white;
}

.footer_home .link_header {
  color: white;
  margin-left: 0;
  margin-right: 0.9rem;
  font-size: 0.9rem;
}

.footer_home .link_header:hover {
  color: var(--red);
}

@media screen and (max-width: 850px) {
  .footer_home {
    height: 80px;
    flex-direction: column;
    padding: 0.8rem;
  }
}

@media screen and (max-width: 570px) {
  .depoiments .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 430px) {
  .footer_home {
    height: 25vh;
  }
  .footer_home .links_header {
    text-align: center;
    word-break: keep-all;
  }

  .footer_home p {
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .title_box {
    text-align: center;
  }
}
