@import url('./form.css');
@import url('./mosaic.css');

:root {
  --red: #ef5777;
  --blue-cyan: #0fbcf9;
  --black-dark: #2c3e50;
  --black-light: #34495e;
  --white: #ecf0f1;
  --green: #1abc9c;
}

.max_width {
  max-width: 1000px;
}

header.header__main {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  overflow: hidden;
  background-color: var(--black-dark);
  position: sticky;
  border-bottom: 2px solid white;
}

header.header__main .header__container {
  width: 100%;
  height: 100%;
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo:nth-child(1) h1 {
  font-size: 20px;
}

.logo:nth-child(2) {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 80px;
  width: 100px;
  overflow: hidden;
}

.logo_img {
  width: 100px;
}

@media screen and (max-width: 300px) {
  header.header__main {
    height: auto !important;
  }

  .header__container {
    padding: 0 !important;
    margin: 0 !important;
    flex-direction: column;
  }

  .header__container:last-child {
    margin-top: 15px;
  }
}

.banner__main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #96d2fa;
}

.banner__container {
  background-image: url('../img/banner.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

section.apresentation {
  width: 100%;
}

section.apresentation .title {
  text-align: center;
  padding: 30px;
  background-color: var(--black-dark);
  position: relative;
}

.arrow__container {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: var(--blue-cyan);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow__container span {
  height: 30px;
  width: 5px;
  background-color: white;
  border-radius: 3px;
  display: block;
  position: absolute;
}

.arrow__container span:nth-child(1) {
  transform: rotate(-45deg);
  left: 18px;
}

.arrow__container span:nth-child(2) {
  transform: rotate(45deg);
  right: 18px;
}
