.mosaic__container {
  background-color: var(--green);
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
}

.mosaic {
  padding: 10px;
  background-color: var(--black-dark);
  margin: 5px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: all .2s linear;
  transform: scale(0.95);
}

.mosaic:hover {
  transform: scale(1);
}

.mosaic .img_msc {
  max-width: 400px;
}

.mosaic .img_msc img {
  width: 100%;
}

.mosaic:nth-child(2n + 1) .img_msc {
  order: 1;
}

.mosaic:nth-child(2n + 2) .text_msc {
  order: 2;
}

.mosaic .text_msc {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 300px;
  background-color: var(--black-light);
}

.mosaic .text_msc p {
  text-align: justify;
}

@media screen and (max-width: 750px) {
  .mosaic .img_msc {
    order: 1;
  }

  .mosaic .text_msc {
    order: 2;
  }
}

footer {
  width: 100%;
  background-color: var(--black-dark);
  padding: 20px 0;
  text-align: center;
}

.pipe {
  color: var(--white);
  padding: 0 5px;
}
