* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #0b0c13;
  color: white;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #0fbcf9;
  font-family: "Courier New", Courier, monospace;
  transition: all 0.15s linear;
}

a:hover,
a:active,
a:focus {
  color: #ef5777;
}
