* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*::selection {
  background-color: #1abc9c;
  color: white;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--black-light);
  color: var(--white);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--blue-cyan);
  font-family: "Courier New", Courier, monospace;
  transition: all 0.15s linear;
}

a:hover,
a:active,
a:focus {
  color: var(--red);
}
